language: python

python:
  - 2.7

services: postgresql

addons:
  postgresql: "9.6"

env:
  - DATABASE_URL=postgres://postgres:@localhost/travisci

install:
  - pip install -r requirements.txt

before_script:
  - psql -c "CREATE DATABASE travisci;" -U postgres
  - python manage.py migrate --noinput

script:
  - python manage.py test
