dj-database-url==0.4.2
Django==2.1.5
django-postgrespool==0.3.1
gunicorn==19.7.1
psycopg2==2.7.3
SQLAlchemy==1.1.14
whitenoise==4.0b4
model-mommy==1.4.0
django-test-plus==1.0.18
requests==2.20.0
beautifulsoup4==4.6.0
dateutils==0.6.6
cloudflare==1.8.0
raven>=3
arrow==0.10.0
django-redis-cache==1.7.1
factory-boy==2.9.2
beautifulsoup4==4.6.0
html5lib==0.999999999
