arrow==1.3.0
beautifulsoup4==4.12.3
django-http-debug==0.2
cloudflare==3.1.0
dateutils==0.6.12
db-to-sqlite==1.5
djp==0.3.1
django-plugin-django-header==0.1.1
dj-database-url==2.2.0
django-proxy==1.3.0
django-sql-dashboard==1.2
django-test-plus==2.2.4
Django==5.1.2
factory-boy==3.3.1
gunicorn==23.0.0
html5lib==1.1
psycopg2-binary==2.9.10
pytest==8.3.3
raven>=3
requests==2.32.3
SQLAlchemy>=1.3.0
whitenoise==6.7.0
Markdown==3.7
django-hosts==6.0
pyspellchecker==0.8.1