{% if obj.is_entry %}
    {{ obj.body|safe }}
    {% if obj.tags.count %}
        <p>Tags: {% for tag in obj.tags.all %}<a href="https://simonwillison.net/tags/{{ tag.tag }}">{{ tag.tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
{% elif obj.is_blogmark %}
    {% include "feeds/blogmark.html" %}
{% elif obj.is_quotation %}
    {% include "feeds/quotation.html" %}
{% elif obj.is_note %}
    {% include "feeds/note.html" %}
{% elif obj.is_chapter %}
    <p><em><a href="https://simonwillison.net{{ obj.guide.get_absolute_url }}">{{ obj.guide.title }}</a> &gt;</em></p>
    {{ obj.body_rendered }}
    {% if obj.tags.count %}
        <p>Tags: {% for tag in obj.tags.all %}<a href="https://simonwillison.net/tags/{{ tag.tag }}">{{ tag.tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
{% elif obj.is_beat %}
    <p><strong>{{ obj.get_beat_type_display }}:</strong> <a href="{{ obj.url }}">{{ obj.title }}</a></p>
    {% if obj.commentary %}<p>{{ obj.commentary }}</p>{% endif %}
    {% if obj.tags.count %}
        <p>Tags: {% for tag in obj.tags.all %}<a href="https://simonwillison.net/tags/{{ tag.tag }}">{{ tag.tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
{% endif %}
