{% extends "item_base.html" %}

{% block title %}About Simon Willison{% endblock %}

{% block rel_canonical %}{% endblock %}

{% block item_content %}
<h2>About me</h2>

<p>Here's my most recent conference bio:</p>

<blockquote>
    <p>Simon Willison is the creator of <a href="https://datasette.io/">Datasette</a>, an open source tool for exploring and publishing data. He currently works full-time building open source tools for data journalism, built around Datasette and SQLite.</p>

    <p>Prior to becoming an independent open source developer, Simon was an engineering director at Eventbrite. Simon joined Eventbrite through their acquisition of Lanyrd, a Y Combinator funded company he co-founded in 2010.</p>

    <p>He is a co-creator of the Django Web Framework, and has been blogging about web development and programming since 2002 at <a href="https://simonwillison.net/">simonwillison.net</a></p>
</blockquote>

<h3 id="subscribe">Subscribe to my newsletter</h3>

<p>I send out <a href="https://simonw.substack.com/">a newsletter version</a> of this blog once every week or so. You can subscribe to that here:</p>

<iframe src="https://simonw.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>

<p>You can also follow me <a href="https://fedi.simonwillison.net/@simon">on Mastodon</a> or <a href="https://twitter.com/simonw">Twitter</a>.</p>

{% endblock %}
