{% extends "item_base.html" %}

{% block title %}About Simon Willison{% endblock %}

{% block rel_canonical %}{% endblock %}

{% block item_content %}
<h2>About me</h2>

<p>Here's my most recent conference bio:</p>

<blockquote>
    <p>Simon Willison is the creator of <a href="https://datasette.io/">Datasette</a>, an open source tool for exploring and publishing data. He currently works full-time building open source tools for data journalism, built around Datasette and SQLite.</p>

    <p>Prior to becoming an independent open source developer, Simon was an engineering director at Eventbrite. Simon joined Eventbrite through their acquisition of Lanyrd, a Y Combinator funded company he co-founded in 2010.</p>

    <p>He is a co-creator of the Django Web Framework, and has been blogging about web development and programming since 2002 at <a href="https://simonwillison.net/">simonwillison.net</a></p>
</blockquote>

<h2 id="subscribe">Subscribe</h2>

<p>You can subscribe to my blog via email newsletter, using Atom feeds or by following me on Mastodon or Twitter.</p>

<h3 id="newsletter">Newsletter</h3>

<p>I send out <a href="https://simonw.substack.com/">a newsletter version</a> of this blog once every week or so. You can subscribe to that here:</p>

<iframe src="https://simonw.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>

<h3 id="social">Mastodon and Twitter</h3>

<ul>
    <li><a href="https://fedi.simonwillison.net/@simon">@simon@simonwillison.net</a> on Mastodon</li>
    <li><a href="https://bsky.app/profile/simonwillison.net">simonwillison.net</a> on Bluesky</li>
    <li><a href="https://twitter.com/simonw">@simonw</a> on Twitter</li>
</ul>

<h3 id="atom">Atom feeds</h3>

<p>The main feed for my site combines my blog entries, my blogmarks and my collected quotations:</p>

<p><code>https://simonwillison.net/atom/everything/</code></p>

<p>If you just want my longer form blog entries you can subscribe to this feed instead:</p>

<p><code>https://simonwillison.net/atom/entries/</code></p>

<p>Or this feed for just my links (excluding quotes):</p>

<p><code>https://simonwillison.net/atom/links/</code></p>

<p>Every <a href="/tags/">tag</a> on my blog has its own feed. You can subscribe to those by adding <code>.atom</code> to the URL to the tag page.</p>

<p>For example, to subscribe to just my content about Datasette, use the following:</p>

<p><code>https://simonwillison.net/tags/datasette.atom</code></p>

<h2 id="about-site">About this site</h2>

<p>This site is a custom web application built using <a href="https://www.djangoproject.com/">Django</a>. The source code can be found on GitHub at <a href="https://github.com/simonw/simonwillisonblog">simonw/simonwillisonblog</a>.</p>
<p>The site is hosted on <a href="https://www.heroku.com/">Heroku</a> and stores content in PostgreSQL, which is backed up to JSON files in <a href="https://github.com/simonw/simonwillisonblog-backup">simonw/simonwillisonblog-backup</a>. These are then deployed to a <a href="https://datasette.io/">Datasette</a> instance running at <a href="https://datasette.simonwillison.net/">datasette.simonwillison.net</a>.</p>

{% endblock %}
