{% extends "smallhead.html" %}

{% block title %}Simon Willison on {{ tags|join:" and " }}{% endblock %}

{% block primary %}
<h2>{{ total }} item{{ total|pluralize }} tagged “{{ tags|join:"” and “" }}”</h2>
{% load blog_tags %}

{% blog_mixed_list_with_dates items %}

{% include "_pagination.html" %}

{% endblock %}

{% block secondary %}
<div class="metabox">
{% if only_one_tag and tag.get_related_tags %}
    <p>Related:
        {% for t in tag.get_related_tags %}
            <a href="/tags/{{ t }}/">{{ t }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
{% endif %}
</div>
{% endblock %}
