{% extends "smallhead.html" %}

{% block title %}Archive for {{ year }}{% endblock %}

{% block primary %}
<div class="entry">
<h2>Archive for {{ year }}</h2>

<ul>
{% for month in months %}
<li><strong><a href="/{{ year }}/{{ month.date|date:"M" }}/">{{ month.date|date:"F" }}</a></strong> - {% for count in month.counts_not_0 %}{{ count.1 }} {% ifequal count.0 "entry" %}{{ count.1|pluralize:"entry,entries" }}{% else %}{{ count.0 }}{{ count.1|pluralize }}{% endifequal %}{% if not forloop.last %}, {% endif %}{% endfor %}
{% endfor %}</li>
</ul>
</div>
{% endblock %}

{% block secondary %}
<div class="metabox">
<p>{% for year in years_with_content %}<a href="/{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a>{% if not forloop.last %} / {% endif %}{% endfor %}</p>
</div>
{% endblock %}