<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">{% load static %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% block rel_canonical %}<link rel="canonical" href="https://simonwillison.net{{ request.path }}">{% endblock %}
<title>{% block title %}{% endblock %}</title>
{% if GOOGLE_ANALYTICS_ID %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
<script>
window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)}; gtag('js', new Date());gtag('config', '{{ GOOGLE_ANALYTICS_ID }}', {send_page_view: false });
(function() {
    var m = /#atom\-(\w+)/.exec(location.hash);
    if (m) {
        gtag('event', 'page_view', {dimension1: m[1]});
        history.replaceState && history.replaceState(null, '', location.href.split('#')[0]);
    } else {
        gtag('event', 'page_view');
    }
})();
</script>
{% endif %}
<link rel="alternate" type="application/atom+xml" title="Atom" href="/atom/everything/">
<link rel="stylesheet" type="text/css" href="{% static "css/all.css" %}">
{% block extrahead %}{% endblock %}

</head>
<body{% block body_class %}{% endblock %}>
{% block toolbar %}
<p class="{% block toolbar_class %}bighead-toolbar{% endblock %}">
    <a id="atomfeedlink" href="/atom/everything/" title="My Atom feed"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 256 256"><defs><linearGradient id="a" x1=".1" x2=".9" y1=".1" y2=".9"><stop offset="0" stop-color="#E3702D"/><stop offset=".1" stop-color="#EA7D31"/><stop offset=".4" stop-color="#F69537"/><stop offset=".5" stop-color="#FB9E3A"/><stop offset=".7" stop-color="#EA7C31"/><stop offset=".9" stop-color="#DE642B"/><stop offset="1" stop-color="#D95B29"/></linearGradient></defs><rect width="256" height="256" fill="#CC5D15" rx="55" ry="55"/><rect width="246" height="246" x="5" y="5" fill="#F49C52" rx="50" ry="50"/><rect width="236" height="236" x="10" y="10" fill="url(#a)" rx="47" ry="47"/><circle cx="68" cy="189" r="24" fill="#FFF"/><path fill="#FFF" d="M160 213h-34a82 82 0 0 0-82-82V97a116 116 0 0 1 116 116z"/><path fill="#FFF" d="M184 213A140 140 0 0 0 44 73V38a175 175 0 0 1 175 175z"/></svg></a>
</p>
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
<div id="ft">
    <ul>
      <li><a href="/search/">Search</a></li>
      <li>&copy;</li>{% for year in years_with_content %}
      <li><a href="/{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a></li>{% endfor %}
    </ul>
</div>
{% endblock %}
</body>
</html>
