{% extends "base.html" %}

{% block body %}
<div id="bighead">
  <h1>Simon Willison’s Weblog</h1>
  <div id="bigheadcontainer">
  {% if current_tags %}<p id="currenttags">On {% for tag in current_tags %}<a href="/tags/{{ tag }}/">{{ tag }}</a>{% if forloop.last %}<span class="more">, </span>{% else %}, {% endif %}{% endfor %}<a href="/tags/" class="more">...</a></p>{% else %}<a href="/tags/">Tags...</a>{% endif %}
  <form action="/search/" method="GET"><div>
    <input type="search" placeholder="Search this site" class="search-input" name="q" value="simon" style="max-width: 560px; margin-top: 1.5em">
    <input type="submit" class="search-submit" value="Search">
  </div></form>
  </div><!-- #bigheadcontainer -->
</div><!-- #bighead -->

<div id="band">&nbsp;</div>

<div id="wrapper">
<div id="primary">
{% block primary %}{% endblock %}
</div> <!-- #primary -->

<div id="secondary">
{% block secondary %}{% endblock %}
</div> <!-- #secondary -->
</div> <!-- #wrapper -->
{% endblock %}
