{% extends "item_base.html" %}

{% block title %}{{ blogmark.link_title }}{% endblock %}
{% load entry_tags %}

{% block extrahead %}
{{ block.super }}
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
{% endblock %}

{% block card_title %}{{ blogmark.link_title|typography }}{% endblock %}
{% block card_description %}{{ blogmark.commentary|truncatewords:30 }}{% endblock %}

{% block item_content %}
<p><a href="{{ blogmark.link_url }}">{{ blogmark.link_title }}</a>{% if blogmark.via_url %} (<a href="{{ blogmark.via_url }}" title="{{ blogmark.via_title }}">via</a>){% endif %}{% if not blogmark.via_url and not blogmark.link_title|ends_with_punctuation %}.{% endif %} {{ blogmark.commentary|typography|linebreaksbr }} </p>

<div class="entryFooter">Posted <a href="/{{ blogmark.created|date:"Y/M/j/" }}">{{ blogmark.created|date:"jS F Y" }}</a> at {{ blogmark.created|date:"f A"|lower }}</div>
{% endblock %}

{% block secondary %}
<div class="metabox">

{% include "_tags.html" with obj=blogmark %}

<div data-ea-publisher="simonwillisonnet" data-ea-type="text"></div>
  
</div> <!-- .metabox -->
{% endblock %}
