{% extends "item_base.html" %}

{% block title %}{{ blogmark.title|default:blogmark.link_title }}{% endblock %}
{% load entry_tags %}

{% block extrahead %}
{{ block.super }}
{% if not sponsor_message %}<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>{% endif %}
{% endblock %}

{% block card_title %}{{ blogmark.title|default:blogmark.link_title|typography }}{% endblock %}
{% block card_description %}{{ blogmark.body|striptags|truncatewords:30|force_escape }}{% endblock %}

{% block item_content %}
<p class="mobile-date-eyebrow">{{ blogmark.created|date:"jS F Y" }}</p>
{% include "_draft_warning.html" %}
<p><strong><a href="{{ blogmark.link_url }}">{{ blogmark.link_title }}</a></strong>{% if blogmark.via_url %} (<a href="{{ blogmark.via_url }}" title="{{ blogmark.via_title }}">via</a>){% endif %}{% if not blogmark.via_url and not blogmark.link_title|ends_with_punctuation %}.{% endif %} {% if not blogmark.use_markdown %}{{ blogmark.commentary|typography|linebreaks|strip_wrapping_p }}{% else %}{{ blogmark.body|strip_wrapping_p }}{% endif %}</p>

<div class="entryFooter">Posted <a href="/{{ blogmark.created|date:"Y/M/j/" }}">{{ blogmark.created|date:"jS F Y" }}</a> at {{ blogmark.created|date:"f A"|lower }}</div>
<p class="edit-page-link" data-admin-url="{{ blogmark.edit_url }}" style="display: none;"></p>
{% endblock %}

{% block secondary %}
<div class="metabox">
<p class="this-is">This is a <strong>link post</strong> by Simon Willison, posted on <a href="/{{ blogmark.created|date:"Y/M/j/" }}">{{ blogmark.created|date:"jS F Y" }}</a>.</p>

{% include "_tags.html" with obj=blogmark %}

{% if not sponsor_message %}<div data-ea-publisher="simonwillisonnet" data-ea-type="text"></div>{% endif %}
{% include "_sponsor_promo.html" %}
  
</div> <!-- .metabox -->
{% endblock %}
