{% extends "smallhead.html" %}
{% block title %}{{ chapter.title }} - {{ guide.title }} - Simon Willison's Weblog{% endblock %}
{% block primary %}

{% if chapter.is_draft %}<p class="draft-warning">This chapter is a draft.</p>{% endif %}
{% if guide.is_draft %}<p class="draft-warning">This guide is a draft.</p>{% endif %}

<p style="margin-bottom: 1em"><a href="/guides/">Guides</a> &gt; <a href="{{ guide.get_absolute_url }}">{{ guide.title }}</a></p>

<h2 class="archive-h2">{{ chapter.title }}</h2>

<div class="note">{{ chapter.body_rendered }}</div>

<div style="margin-top: 2em; display: flex; justify-content: space-between;">
  <div>
    {% if previous_chapter %}
      &larr; <a href="{{ previous_chapter.get_absolute_url }}">{{ previous_chapter.title }}</a>
    {% endif %}
  </div>
  <div>
    {% if next_chapter %}
      <a href="{{ next_chapter.get_absolute_url }}">{{ next_chapter.title }}</a> &rarr;
    {% endif %}
  </div>
</div>

<p class="edit-page-link" data-admin-url="{{ chapter.edit_url }}" style="display: none;"></p>
{% endblock %}

{% block secondary %}
<div class="metabox">
<p class="this-is">This is a chapter from the guide <strong><a href="{{ guide.get_absolute_url }}">{{ guide.title }}</a></strong>.</p>
<div class="series-info">
  <p><strong>Chapters in this guide</strong></p>
  <ol>
    {% for item in toc %}
      {% if item.type == "chapter" %}
        {% if item.chapter.pk == chapter.pk %}
          <li><strong>{{ item.chapter.title }}</strong></li>
        {% else %}
          <li><a href="{{ item.chapter.get_absolute_url }}">{{ item.chapter.title }}</a></li>
        {% endif %}
      {% elif item.type == "section" %}
        <li>
          <strong>{{ item.section.title }}</strong>
          <ol>
            {% for ch in item.chapters %}
              {% if ch.pk == chapter.pk %}
                <li><strong>{{ ch.title }}</strong></li>
              {% else %}
                <li><a href="{{ ch.get_absolute_url }}">{{ ch.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ol>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
{% include "_tags.html" with obj=chapter %}
{% if previous_chapter %}
<p><strong>Previous:</strong> <a href="{{ previous_chapter.get_absolute_url }}">{{ previous_chapter.title }}</a></p>
{% endif %}
{% if next_chapter %}
<p><strong>Next:</strong> <a href="{{ next_chapter.get_absolute_url }}">{{ next_chapter.title }}</a></p>
{% endif %}
</div>
{% endblock %}
