{% extends "item_base.html" %}

{% block title %}{% if note.title %}{{ note.title }}{% else %}Note on {{ note.created|date:"jS F Y" }}{% endif %}{% endblock %}

{% block extrahead %}
{{ block.super }}
{% if not sponsor_message %}<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>{% endif %}
{% endblock %}

{% block card_title %}{% if note.title %}{{ note.title }}{% else %}Note on {{ note.created|date:"jS F Y" }}{% endif %}{% endblock %}
{% block card_description %}{{ note.body_rendered|striptags|truncatewords:30|force_escape }}{% endblock %}

{% load entry_tags %}
{% block item_content %}
<p class="mobile-date-eyebrow">{{ note.created|date:"jS F Y" }}</p>
<div class="note">
{% include "_draft_warning.html" %}
{{ note.body_rendered }}
</div>

<div class="entryFooter">Posted <a href="/{{ note.created|date:"Y/M/j/" }}">{{ note.created|date:"jS F Y" }}</a> at {{ note.created|date:"f A"|lower }}</div>
<p class="edit-page-link" data-admin-url="{{ note.edit_url }}" style="display: none;"></p>
{% endblock %}

{% block secondary %}
<div class="metabox">
<p class="this-is">This is a <strong>note</strong> by Simon Willison, posted on <a href="/{{ note.created|date:"Y/M/j/" }}">{{ note.created|date:"jS F Y" }}</a>.</p>

{% include "_tags.html" with obj=note %}

{% if not sponsor_message %}<div data-ea-publisher="simonwillisonnet" data-ea-type="text"></div>{% endif %}
{% include "_sponsor_promo.html" %}

</div> <!-- .metabox -->
{% endblock %}
