{% extends "item_base.html" %}

{% block title %}Search{% if q %} for “{{ q }}”{% endif %}{% endblock %}

{% block rel_canonical %}{% endblock %}

{% block item_content %}
{% load blog_tags %}
<h2>Search{% if q %} for “{{ q }}”{% endif %}</h2>

<form action="{{ request.path }}" method="GET">
    <input type="search" class="search-input" name="q" value="{{ q }}" style="width: 80%">
    <input type="submit" class="search-submit" value="Search">
</form>

{% if selected_tags or selected_type or selected_year %}
<p class="search-selections">
    Filters:
    {% if selected_type %}
        <a class="selected-tag" href="{% remove_qsarg "type" selected_type %}">Type: {{ selected_type }} <strong>&#x00D7;</strong></a>
    {% endif %}
    {% if selected_year %}
        <a class="selected-tag" href="{% remove_qsarg "year" selected_year %}">Year: {{ selected_year }} <strong>&#x00D7;</strong></a>
    {% endif %}
    {% if selected_month %}
        <a class="selected-tag" href="{% remove_qsarg "month" selected_month %}">Month: {{ selected_month_name }} <strong>&#x00D7;</strong></a>
    {% endif %}
    {% for selected_tag in selected_tags %}
        <a class="selected-tag" href="{% remove_qsarg "tag" selected_tag %}">{{ selected_tag }} <strong>&#x00D7;</strong></a>
    {% endfor %}
</p>
{% endif %}

<br>

{% if total %}
    {% include "_pagination.html" with page_total=total %}
    {% blog_mixed_list_with_dates results %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}

{% block secondary %}
<div class="metabox">
    {% if type_counts %}
        <h3>Types</h3>
        <ul>
            {% for t in type_counts %}
                <li><a href="{% add_qsarg "type" t.type %}">{{ t.type }}</a> {{ t.n }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if year_counts %}
        <h3>Years</h3>
        <ul>
            {% for t in year_counts %}
                <li><a href="{% add_qsarg "year" t.year|date:"Y" %}">{{ t.year|date:"Y" }}</a> {{ t.n }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if month_counts %}
        <h3>Months</h3>
        <ul>
            {% for t in month_counts %}
                <li><a href="{% add_qsarg "month" t.month|date:"n" %}">{{ t.month|date:"F" }}</a> {{ t.n }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if tag_counts %}
        <h3>Tags</h3>
        <ul>
            {% for t in tag_counts %}
                <li><a href="{% add_qsarg "tag" t.tag %}">{{ t.tag }}</a> {{ t.n }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
