{% extends "item_base.html" %}

{% block title %}Search{% if q %} for “{{ q }}”{% endif %}{% endblock %}

{% block rel_canonical %}{% endblock %}

{% block item_content %}
{% load blog_tags %}
<h2>Search{% if q %} for “{{ q }}”{% endif %}</h2>

<form action="{{ request.path }}" method="GET">
    <input type="search" class="search-input" name="q" value="{{ q }}" style="width: 80%">
    <input type="submit" class="search-submit" value="Search">
</form>
<br>

{% if total %}
    {% include "_pagination.html" with page_total=total %}
    {% blog_mixed_list_with_dates results %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock %}
