{% extends "base.html" %}
{% load blog_tags %}
{% block body_class %} class="smallhead"{% endblock %}
{% block body %}
<div id="smallhead">
  <div id="smallhead-inner">
    <h1><a href="/">Simon Willison’s Weblog</a></h1>
    <a id="smallhead-about" href="/about/#subscribe">Subscribe</a>
  </div>
</div><!-- #smallhead -->

{% if sponsor_message %}
<div id="sponsored-banner" class="sponsor-scheme-{{ sponsor_message.color_scheme }}">
  <div id="sponsored-banner-inner">
    <strong class="sponsored-label">Sponsored by:</strong> {{ sponsor_message.name }} &mdash; {{ sponsor_message.message }} {% with label=sponsor_message.learn_more_label|default:"Learn more" %}<a href="{{ sponsor_message.learn_more_url }}" rel="sponsored noopener" target="_blank">{{ label|strip_trailing_period }}</a>{{ label|trailing_period }}{% endwith %}
  </div>
</div>
{% endif %}

<div id="wrapper">
<div id="primary">
{% block primary %}{% endblock %}
</div> <!-- #primary -->

<div id="secondary">
{% block secondary %}{% endblock %}
</div> <!-- #secondary -->
</div> <!-- #wrapper -->

{% block thirdsection %}{% endblock %}

{% endblock %}
