{% extends "item_base.html" %}

{% block title %}Tools{% endblock %}

{% block item_content %}
<h2>Tools</h2>

<p>Currently deployed: <a href="https://github.com/simonw/simonwillisonblog/tree/{{ deployed_hash }}">{{ deployed_hash }}</a> (<a href="https://github.com/simonw/simonwillisonblog/compare/{{ deployed_hash }}...master">diff to master</a>)</p>

{% if msg %}<p><strong>{{ msg }}</strong></p>{% endif %}

<form action="{{ request.path }}" method="POST">
    <input type="submit" name="purge_all" value="Purge all cache">
    {% csrf_token %}
</form>

{% endblock %}
