{% extends "item_base.html" %}
{% load entry_tags %}
{% block title %}{{ entry.title|typography }}{% endblock %}

{% block body_class %} class="entry-wide"{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ entry.extra_head_html|default:""|safe }}
{% endblock %}

{% block card_title %}{{ entry.title|typography }}{% endblock %}
{% block card_description %}{{ entry.body|xhtml|remove_context_paragraph|typography|xhtml2html|striptags|truncatewords:30 }}{% endblock %}

{% block item_content %}
<h2>{{ entry.title|typography }}</h2>

{{ entry.body|xhtml|resize_images_to_fit_width:"450"|typography|xhtml2html }}

<div class="entryFooter">
    Posted <a href="/{{ entry.created|date:"Y/M/j/" }}">{{ entry.created|date:"jS F Y" }}</a> at {{ entry.created|date:"f A"|lower }}
    {% if entry.tags.count %}
    &middot; Tagged {% for tag in entry.tags.all %}{{ tag.get_reltag }}{% if not forloop.last %}, {% endif %}{% endfor %}
    {% endif %}    &middot; Follow <a href="https://twitter.com/simonw">@simonw</a> on Twitter
</div>

{% endblock %}
